<h1>Dynamic forms</h1>

<div [formGroup]="root"
     fieldsetHost
     [class.fuck]="!root.valid">
  <app-fieldset name="foo"></app-fieldset>
  <app-fieldset name="EVEN MOAR"></app-fieldset>
  <app-range-fieldset name="numbers n shit"></app-range-fieldset>
  <app-range-fieldset name="even more numbers?!"></app-range-fieldset>
  <app-nested-fieldset name="nested af"></app-nested-fieldset>
</div>

<button (click)="logItAll()">LOGITALL</button>
<button (click)="force()">FORCE UPDATE WITH ERROR VALS</button>

<pre>{{ root.valid }}</pre>
